<html>
    <head>
        <title>Prize Generator</title>
    </head>
    <h1>Prize Generator</h1>
    <body>
        <div>
	    <h1>It's a win/win situation</h1>
	    <p>You just can't lose!</p>
            <br>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.submit }}
            </form>
        </div>
        <div>
	    <h3>Account  :  Prize</h3>
            <p>
	         {{account}} : {{message}}
	    </p>
        </div>
	<hr>
	<h2>List of Winners</h2>
	 <div>
                {% for prize in prizes %}
                    <p>{{ prize.account_number }} : {{ prize.prize }}</p>
                {% endfor %}
        </div>
    </body>
</html>
