<html>
    <head>
        <title>Prize Generator</title>
    </head>
    <h1>Prize Generator</h1>
    <body>
        <div>
	    <h1>It's a win/win situation</h1>
	    <p>You just can't lose!</p>
            <br>

            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.submit }}
            </form>
        </div>
        <div>
            <p>
	        Account  :  Prize
		<hr>
	        {{account}} : {{message}}
	    </p>
        </div>
    </body>
</html>
